<div id="<%= dom_id decision %>">
  <p>
    <strong>Input:</strong>
    <%= decision.input %>
  </p>

  <p>
    <strong>Input type:</strong>
    <%= decision.input_type %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= decision.result %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= decision.project_id %>
  </p>

</div>
