<div id="<%= dom_id project %>">
  <p>
    <strong>Decision Project:</strong>
    <%= project.title %>
  </p>

  <%= form_for @DecisionInputs do |f| %>
  <% @values.each do |value| %>
    <div class="form-group">
      <%= f.label value %>
      <%= f.text_field value %>
    </div>
  <% end %>
  
  <%= f.submit "Submit" %>
<% end %>

  <p>
    <strong>Decision:</strong>
    <ul>
      <% project.decisions.each do |decision| %>
        <li>
          Input: <%= decision.input %>
          Input Type: <%= decision.input_type %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
